<div class="card mt-3">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam vitae minima saepe pariatur neque inventore placeat! Fuga vel similique corporis adipisci neque iure perferendis, a, laboriosam quaerat veritatis mollitia nostrum?</p>
    </div>
</div>