<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus ea rerum dolore consectetur praesentium suscipit, neque sed consequuntur! Aperiam excepturi, voluptates nisi incidunt rerum laboriosam nihil nesciunt? Suscipit, eum modi.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit veritatis quo fugiat rem facilis porro error alias iste enim, voluptatem facere! Voluptatibus iure unde mollitia at laudantium modi deleniti exercitationem.</p>
    <a href="http://www.google.com" class="btn btn-primary btn-lg">google</a>
</div>